# Dossiers et fichiers cachés
.DS_Store
.vscode/
.idea/
.git/

# Fichiers de build et temporaires
*.log
*.cache
*.tmp
node_modules/
target/
dist/
build/

# Fichiers de configuration locaux
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Fichiers de dépendances spécifiques
*.jar
*.war
*.class

# Dossiers de tests ou de couverture
coverage/
test-results/

# Fichiers volumineux ou non nécessaires
*.zip
*.tar.gz
*.rar
*.bak
*.swp

# Dossiers spécifiques à éviter (ajoutez selon vos besoins)
backend/spring-boot-refresh-token-jwt-master/target/
documentation/backend/*.pdf