# Forcer LF pour tous les fichiers texte
* text=auto eol=lf

# Traiter les fichiers binaires comme tels
*.png binary
*.jpg binary
*.jar binary
*.zip binary
*.pdf binary
*.jar filter=lfs diff=lfs merge=lfs -text
front/front/.angular/cache/**/* filter=lfs diff=lfs merge=lfs -text
