# === Java general ===
*.class
*.log
*.jar
*.war
*.ear
*.iml

# === Maven ===
/target/

# === Gradle ===
/build/

# === IntelliJ IDEA ===
.idea/
*.iws
*.ipr
*.iml
out/

# === OS files ===
.DS_Store
Thumbs.db
