# .classpath
# .project

# Ignorer le dossier target
target/

# Garder les fichiers de wrapper Maven
!.mvn/wrapper/maven-wrapper.jar

# Inclure tous les fichiers dans src/main et src/test
!**/src/main/**
!**/src/test/**