/* app.component.css */
nav {
    margin: 10px 0;
  }
  
  nav button {
    margin-right: 10px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
  }
  
  nav button:hover {
    background-color: #007bff;
    color: white;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  

  button{
    position: fixed;  
    bottom: 20px;     
    right: 20px;    
    background-color: #676768; 
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;

  }