.login-container {
    max-width: 480px; 
    margin: 1.5cm auto 1.1cm;
    padding: 35px; 
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Slight shadow */
    position: relative;
    top: 50%;
    margin-bottom: 1cm;
 }

h2 {
    text-align: center;
    color: #333; /* Dark, neutral text color */
    margin-bottom: 40px;
}

form {
    display: flex;
    flex-direction: column;
}

div {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #CE171F; /* Primary color */
    font-size: 19px;
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #cccccc; /* Neutral border color */
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

input:focus {
    border-color: #CE171F; /* Secondary color on focus */
    outline: none;
}

button {
    background-color: #0086FB; /* Primary color */
    color: #ffffff;
    padding: 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #CE171F; /* Secondary color on hover */
}

.error-message {
    color: #b30000; /* Dark red text */
    background-color: #ffcccc; /* Light red background */
    border: 1px solid #b30000; /* Dark red border */
    padding: 0.75rem;
    border-radius: 0.25rem;
    text-align: center;
    margin-top: 5px;
    font-size: 14px;
}

.additional-links {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: #333; /* Neutral text color */
}

.forgot-password-link,
.register-link {
    display: block;
    margin-top: 10px;
    color: #333; /* Primary color */
    text-decoration: none;
    transition: color 0.3s ease;
}

.forgot-password-link:hover,
.register-link:hover {
    color: #CE171F; /* Secondary color on hover */
}
