
<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
      <!-- Logo -->
      <a class="navbar-brand" href="#">
          <img src="/assets/logo.png" [sizes]="200" alt="Logo" class="img-fluid">
      </a>
      <!-- Navbar Links -->
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ms-auto">
              <li class="nav-item"><a class="nav-link"  routerLink="/home">Subjects</a></li>
              <li class="nav-item"><a class="nav-link"  routerLink="/home">Postulations</a></li>

              <li class="nav-item"><a class="nav-link"  routerLink="/home">Pfe Interneships</a></li>
              <li class="nav-item"><a class="nav-link"  routerLink="/home">Summer Internships</a></li>
              <li class="nav-item"><a class="nav-link"  routerLink="/home">Forum</a></li>
              <li class="nav-item"><a class="nav-link"  routerLink="/home">Complaints</a></li>
              <li class="nav-item"><a class="nav-link"  routerLink="/profile">Profile</a></li>

              <li class="nav-item dropdown">
                <a class="nav-link" id="userDropdown" role="button" (click)="toggleDropdown($event)">
                  <img src="assets/login.png" alt="User Icon" class="logout-icon">
                </a>
                <ul class="dropdown-menu" [ngClass]="{'show': isDropdownOpen}" aria-labelledby="userDropdown">
                  <li><a class="dropdown-item" routerLink="/home/chatbot">Chat with AI</a></li>
                </ul>
              </li>
                      </ul>
      </div>
      
  </div>
</nav>
