<main>
    <section class="section section-shaped section-lg">
      <div class="shape shape-style-1 bg-gradient-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
  
   
      <div class="container pt-lg-md">
        <div class="row justify-content-center">
          <div class="col-lg-5">
            <div class="card bg-secondary shadow border-0">
              <div class="card-header bg-white pb-5">
                <div class="text-muted text-center mb-3">
                  <h2>Forget Password </h2>
                  <!-- <small>Connectez-vous avec</small> -->
                </div>
              
              </div>
  
              <div class="card-body px-lg-5 py-lg-5">
                <div class="text-center text-muted mb-4">
                  <small>Ou connectez-vous avec vos identifiants</small>
                </div>
                <form  autocomplete="off" [formGroup]="forgetForm">
                  <div class="form-group mb-3" >
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
                      </div>
                      <input class="form-control" placeholder="Email" type="text" name="email" formControlName="email" required
                        autocomplete="off">
                    </div>
                    <!-- <div *ngIf="forgetForm.controls['email'].touched && forgetForm.controls['email'].invalid">
                      <p *ngIf="forgetForm.controls['email'].errors?.['required']" class="text-danger">Email est requis.</p>
                      <p *ngIf="forgetForm.controls['email'].errors?.['pattern']" class="text-danger">Format d'email invalide.</p>
                    </div> -->
                  </div>
  
                
  
  
                
  
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary my-4"  (click)="forgetpassword()">Send</button>
                    <!-- [disabled]="forgetForm.invalid" -->
                  </div>
  
                  
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>