<app-header></app-header>

<section class="section section-shaped section-lg">
    <div class="shape shape-style-1 bg-gradient-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <form [formGroup]="fg" (ngSubmit)="submitfg()">
                            <h5 class="card-title text-center"> Verification Terms</h5>
                            <input type="email" class="form-control" placeholder="Email" formControlName="email" required>
                            <div *ngIf="fg.get('email')?.invalid && (fg.get('email')?.dirty || fg.get('email')?.touched)" class="text-danger">
                                <div *ngIf="fg.get('email')?.errors?.['required']">Email est requis.</div>
                                <div *ngIf="fg.get('email')?.errors?.['email']">Format d'email invalide.</div>
                            </div>
                            <!-- <div class="form-group">
                                <re-captcha id="recaptcha" name="recaptcha" [(ngModel)]="token" formControlName="recaptcha" required></re-captcha>
                                <div *ngIf="fg.get('recaptcha')?.invalid && (fg.get('recaptcha')?.dirty || fg.get('recaptcha')?.touched)" class="invalid-feedback">
                                    <div *ngIf="fg.get('recaptcha')?.errors?.['required']">Ce champ est requis.</div>
                                </div>
                            </div> -->
                            <button class="btn btn-primary mt-2" [disabled]="fg.invalid">Vérifier</button>
                            <a href="#" class="card-link" (click)="resendcode($event)">Renvoyer le code de vérification</a>
                        </form> 
                    </div>
                </div>
            </div>
            <div class="col-sm-6" *ngIf="showResetPasswordCard">
                <div class="card">
                    <div class="card-body">
                        <form [formGroup]="fgreset" (ngSubmit)="submitfgreset()">
                            <h5 class="card-title text-center">Entrer votre nouveau mot de passe</h5>
                            <div class="form-group">
                                <label for="code">Entrez le code de votre mail</label>
                                <input type="text" id="code" class="form-control mt-2" placeholder="Code de vérification" formControlName="code" required>
                                <div *ngIf="fgreset.get('code')?.invalid && (fgreset.get('code')?.dirty || fgreset.get('code')?.touched)" class="text-danger">
                                    <div *ngIf="fgreset.get('code')?.errors?.['required']">Le code est requis.</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="newPassword">Nouveau Mot de passe</label>
                                <input type="password" class="form-control" id="newPassword" formControlName="newPassword" required>
                                <div *ngIf="fgreset.get('newPassword')?.invalid && (fgreset.get('newPassword')?.dirty || fgreset.get('newPassword')?.touched)" class="text-danger">
                                    <div *ngIf="fgreset.get('newPassword')?.errors?.['required']">Le mot de passe est requis.</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="confirmPassword">Confirmer le Mot de passe</label>
                                <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword" required>
                                <div *ngIf="fgreset.get('confirmPassword')?.invalid && (fgreset.get('confirmPassword')?.dirty || fgreset.get('confirmPassword')?.touched)" class="text-danger">
                                    <div *ngIf="fgreset.get('confirmPassword')?.errors?.['required']">La confirmation du mot de passe est requise.</div>
                                </div>
                            </div>
                            <div *ngIf="fgreset.errors?.['passwordMismatch']" class="text-danger">
                                Les mots de passe ne correspondent pas.
                            </div>
                            <button class="btn btn-primary mt-2" [disabled]="fgreset.invalid">Soumettre</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>