<body>
    <!-- main content wrapper -->
    <div class="page-content">
      <!-- Your main content here -->
    </div>
  
    <!-- Footer -->
    <footer class="footer">
      <div class="container">
        <div class="footer-content">
          <div class="footer-logo">
            <img src="assets/logo.png" alt="esprit Logo">
          </div>
          <div class="footer-details">
            <p>Pôle Technologique El Ghazela, Ariana, Tunisia </p>
            <p>+216 70 250 000</p>
 
          </div>
          <div class="footer-socials">
            <a href="https://www.facebook.com/esprit.tn/?fref=ts" target="_blank"><img src="assets/blackfb.png" alt="Facebook"></a>  
            <a href="https://x.com/Esprit_News?lang=fr" target="_blank"><img src="assets/blackx.png" alt="Twitter"></a>
            <a href="https://www.instagram.com/esprit_ingenieur/" target="_blank"><img src="assets/blackinsta.png" alt="Instagram"></a>
            <a href="https://www.linkedin.com/company/esprit_2/" target="_blank"><img src="assets/blacklinkedin.png" alt="Linkedin"></a>
          </div>
        </div>
      </div>
    </footer>
  </body>
  